# Camera
vendor_public_prop(vendor_exported_camera_prop);
vendor_public_prop(vendor_oplus_camera_prop);

# Fingerprint
vendor_internal_prop(system_fingerprint_prop)

# Sensors
vendor_public_prop(vendor_sensors_als_prop)

# Version
system_vendor_config_prop(system_oplus_project_prop)
