# Camera
system_public_prop(system_exported_camera_prop);
vendor_public_prop(vendor_exported_camera_prop);

# Build
system_public_prop(system_exported_build_prop);

# Display
vendor_public_prop(vendor_exported_display_prop);

# Engineering
system_public_prop(system_exported_eng_prop);

# Fingerprint
vendor_public_prop(vendor_exported_fingerprint_prop)

# Modem
system_public_prop(vendor_exported_modem_prop);

# Power
vendor_public_prop(vendor_exported_power_prop)

# Sensors
system_public_prop(vendor_sensors_als_prop)

# Version
system_vendor_config_prop(system_oplus_project_prop)

# Vendor aware
vendor_public_prop(vendor_aware_available_prop)
